// ==================== GLOBAL DEFAULTS ====================

img {
    display: block;
    height: 100%;
    width: 100%;
}

h1, h2, p {
    margin: 0;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    border: none;
}