// ==================== GENERALLY APPLIED STYLES ====================
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

    // For utilizing full space of viewport (ie grow main to fill).
    main {
        flex-grow: 1;
    }
}

// Centering the wrappers
header,
.Nominees,
.SearchResults,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

// ==================== HEADER ====================

header {
    background-color: #FBF7ED;
    text-align: center;

    h1 {
        margin-bottom: 20px;
    }
}

.header__div-container {
    display: flex;

    .header__div-search {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2{ 
        margin-bottom: 20px;
    }

    .header__div-img-banner {
        width: 50%;
    }
}

// Forms
input, button {
    margin: 5px;
    padding: 10px 20px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color: #008060;
}

// ==================== MAIN ====================

.Nominees {
    min-height: 600px;
    background-color: #004C3F;
    padding-top: 20px;
    padding-bottom: 20px;
    
    button {
        background-color: #004C3F;
        border: 1px solid #fff;
    }

    button:hover {
        background-color: white;
        color: #004C3F;
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 7px;
        }

        div {
            height: 350px;
        }

        img {
            width: auto;
            max-width: 230px;
        }

        h2 {
            width: 200px;
            flex-grow: 1;
        }
    }

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }
}

.Nominees__h2-banner--selected {
    background-color: goldenrod;
}

.Nominees__div-img--selected,
.Nominees__div-wrapper--selected {
    border: 2px solid goldenrod;
}

.Nominees__div-wrapper--selected {
    border-radius: 10px;
}

.SearchResults {
    padding: 50px 0;

    button {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    }

    button:hover {
        background-color: #004c3f;
    }

    button:disabled {
        background-color: #004c3f7f;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            width: 200px;
            flex-grow: 1;
            text-align: center;
        }

        div {
            height: 350px;
        }

        img {
            width: auto;
            max-width: 230px;
        }
    }

}

// ==================== FOOTER ====================

footer {
    background-color: #004C3F;
    text-align: center;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}