// ==================== GENERALLY APPLIED STYLES ====================
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

    // For utilizing full space of viewport (ie grow main to fill).
    main {
        flex-grow: 1;
    }
}

// Centering the wrappers
header,
.Nominees,
.SearchResults,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// ==================== HEADER ====================

header {
    background-color: #FBF7ED;
    text-align: center;

    h1 {
        margin-bottom: 20px;
    }
}

.header__div-container {
    display: flex;

    .header__div-search {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2{ 
        margin-bottom: 20px;
    }

    .header__div-img-banner {
        width: 50%;
    }
}

// Forms
input, button {
    margin: 5px;
    padding: 10px 20px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color: #008060;
}

// ==================== MAIN ====================

.Nominees {
    min-height: 600px;
    background-color: #004C3F;
    
    ul {
        display: flex;

        li {
            display: flex;
            flex-direction: column;
            margin-right: 25px;
        }

        div {
            height: 350px;
        }

        img {
            width: auto;
        }
    }

    h2 {
        text-align: center;
        flex-grow: 1;
        margin-bottom: 25px;
    }
}

.SearchResults {
    padding: 50px 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            flex-direction: column;
        }

        h2 {
            width: 200px;
            flex-grow: 1;
        }

        div {
            height: 350px;
        }

        img {
            width: auto;
        }
    }

}

// ==================== FOOTER ====================

footer {
    background-color: #004C3F;
    text-align: center;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}