header {
    h2, p {
        color: #004C3F
    }
}

.Nominees {
    h2 {
        color: #fff;
    }
}

footer {
    a {
        background-color: #95BF47;
        box-shadow: 3px 3px #5E8E3E;
        border-radius: 7px;
        padding: 0 5px;
        color: #fff;
    }

    p {
        color: #fff;
    }
}