
h1, h2, p, a, button {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    h2, p {
        color: #004C3F
    }

    button {
        color: #fff;
    }
}

.Nominees {
    h2, h3, button {
        color: #fff;
    }
}

.SearchResults {
    button {
        color: #fff;
    }
}

footer {
    a {
        background-color: #95BF47;
        box-shadow: 3px 3px #5E8E3E;
        border-radius: 7px;
        padding: 0 5px;
        color: #fff;
        font-weight: 700;
    }

    p {
        color: #fff;
    }
}